// FOOTER::START
.footer
  .container
    .row
      .col-sm-2
        .footer__socials
          a(href='#')
            i.ico.ico-social-fb
          a(href='#')
            i.ico.ico-social-tw
      .col-sm-8.text-center
        .footer__menu
          a(href='#').hoverable-dash Privacy
          a(href='#').hoverable-dash Contact
          a(href='#').hoverable-dash Mission
          a(href='#').hoverable-dash Sign In
          a(href='#').hoverable-dash Register
      .col-sm-2.text-right
        .footer__copy © 2017 Messly Ltd

// SCRIPTS

//build:js js/scripts.min.js
script(src="js/libs/jquery-1.9.1.js")
script(src="js/libs/placeholder-ie.js")
script(src='components/slick-carousel/slick/slick.min.js')
script(src='components/bootstrap-sass-3.3.7/assets/javascripts/bootstrap/tooltip.js')
script(src="js/main.js")
//endbuild
