// HEADER :: START
.header
  .container
    .row
      .col-xs-6.col-sm-3
        a(href='#')
          i.ico.ico-logo
      .col-sm-6
        .header__menu
          ul
            li
              a(href='#sectionAbout').hoverable-dash About
            li
              a(href='#sectionProduct').hoverable-dash Product
            li
              a(href='#sectionFeatures').hoverable-dash Features
            li
              a(href='#sectionTestimonails').hoverable-dash Testimonials
              
      .col-xs-6.col-sm-3
        .header__user
          a(href='#').hoverable-dash Sign In
          a(href='#').btn.btn--ghost.btn--ghost--white Register
